body {
	font-family: Arial, sans-serif;
	background-color: #eeeeee;
	margin: 0;
	padding: 12px;
	text-align: center;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	background-color: #ffffff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

h1 {
	color: #369262;
	margin-bottom: 16px;
	-webkit-text-stroke: 0.5px #000000;
}

h2 {
	color: #369262;
	margin-bottom: 12px;
	-webkit-text-stroke: 0.5px #000000;
}

p {
	line-height: 1.6;
}

ul {
	display: flex;
	gap: 24px;
	flex-wrap: wrap;
	padding: 0;
	list-style: none;
}

li {
	flex: 1 1 250px;
	text-align: center;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
